/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

h1, p {
	margin: 0;
	padding: 0;
}
audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


body {
    font: 18px/25px 'playtime_with_hot_toddiesRg', sans-serif;
    background-size: 25px 25px;    
    background-image: -webkit-repeating-linear-gradient(0deg, #b9d3ee, #b9d3ee 1px, transparent 1px, transparent 25px),-webkit-repeating-linear-gradient(-90deg, #b9d3ee, #b9d3ee 1px, transparent 1px, transparent 25px);
    background-image: -moz-repeating-linear-gradient(0deg, #b9d3ee, #b9d3ee 1px, transparent 1px, transparent 25px),-moz-repeating-linear-gradient(-90deg, #b9d3ee, #b9d3ee 1px, transparent 1px, transparent 25px);
    background-image: -o-repeating-linear-gradient(0deg, #b9d3ee, #b9d3ee 1px, transparent 1px, transparent 25px),-o-repeating-linear-gradient(-90deg, #b9d3ee, #b9d3ee 1px, transparent 1px, transparent 25px);
    background-image: repeating-linear-gradient(0deg, #b9d3ee, #b9d3ee 1px, transparent 1px, transparent 25px),repeating-linear-gradient(-90deg, #b9d3ee, #b9d3ee 1px, transparent 1px, transparent 25px);
    z-index:-4;
}

textarea {
    font: 18px/25px 'playtime_with_hot_toddiesRg', sans-serif;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== 

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

}

nav a:hover,
nav a:visited {
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 18px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    padding: 0px 5% 10px;
}

.footer-container footer {
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.title {
	font-family: 'note_thisregular';
	font-size: 2em;
	line-height: normal;
	position: relative;
	top: 8px;
}
.title a {
	text-decoration: none;
	color: black;
}
.subtitle {
	color: black;
	font-size: .75em;
}

#totals {
	float: right;
	text-align: right;
}
.col_dateDue, .col_harborTo, .col_amount, .col_isScheduled, .col_showPopup, .col_datePaid, .col_moneyMaybe, .col_moneyReal {
	display: inline-block;
  	margin: 0;
  	padding: 0;
  	width: 100px;
	margin: 0 2px 0 0;
	overflow-x: hidden;
	height: 25px;
	vertical-align: bottom;
	white-space: nowrap;
}
.col_harborFrom, .col_isLoan, .col_isTaxable, .col_notes {
	width: 100px;
}
.col_dateDue, .col_amount, .col_datePaid, .col_moneyMaybe, .col_moneyReal {
	text-align: right;
	width: 75px;
}
.col_datePaid {
	margin-right: 0px;
}
.col_isScheduled, .col_showPopup, .col_isTaxable, .col_isLoan {
	width: 25px;
}
.col_notes {
	max-width: 300px;
	width: 300px;
	white-space: normal;
	overflow-x: unset;
	height: auto;
	background: transparent;
	border: none;
}

#flows {
	padding: 0;
	margin: 0;
	color: red;
}
#flows div {
	position: relative; /* necessary to make .destroy position properly */
	display: inline-block;
}

#flows div .view {
	
}
#options div .view {
	border-bottom: 1px solid black;
}
#flows div .edit, #options div .edit {
  display: none;
}
#flows .edit input {
	border: 0;
}
#options .edit input, #options div input {
	border: 1px solid black;
	border-width: 0 0 1px;
	width: 500px;
}
#options div {
	display: inline-block;
}

#flows div .destroy {
  display: none;
  position: absolute;
  top: 0;
  right: -20px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 22px;
  color: #a88a8a;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

#flows div .destroy:hover {
  cursor: pointer;
}

#flows div .destroy:after {
  content: '✖';
}

#flows div:hover .destroy {
  display: block;
}
.col_dateDue:hover ~ .flowHiddenInfo, .col_harborTo:hover ~ .flowHiddenInfo,
.col_dateDue:focus ~ .flowHiddenInfo, .col_harborTo:focus ~ .flowHiddenInfo, .col_amount:focus ~ .flowHiddenInfo, .col_datePaid:focus ~ .flowHiddenInfo, .col_isScheduled:focus ~ .flowHiddenInfo, 
.flowHiddenInfo:hover, .flowHiddenInfo:focus {
	visibility: visible;
}
}
.isScheduled {
	color: #222;
}
.reconciled {
	color: green;
}
.flowHiddenInfo {
	position: absolute;
	width: 300px;
	padding: 3px 5px;
	top: 23px;
	left: 75px;
	background-color: yellow;
	z-index: 100;
	text-align: left;
	-moz-box-shadow:    1px 1px 1px 1px #333;
	-webkit-box-shadow: 1px 1px 1px 1px #333;
	box-shadow:         1px 1px 2px 2px #333;
	color: #222;
}

#flowHeader {
	font-size: .7em;
	border-bottom: 1px solid black;
}
#newFlow {
	border: 1px solid black;
	border-width: 1px 0;
	position: relative;
	height: 24px;
	top: -1px;
}
#newFlow .flowHiddenInfo {
	z-index: 99;
	left: 70px;
	width: 300px;
}
/*#newFlow input:focus ~ .flowHiddenInfo {
	visibility: visible;
}*/
#newFlow input {
	border: 0;
	background-color: transparent;
}

.footer-container {
	text-align: center;
	font-family: serif;
	font-size: .9em;
}
#sync-error, #sync-success {
  display: none;
}

[data-sync-state=syncing] #sync-success {
  display: block;
}

[data-sync-state=error] #sync-error {
  display: block;
}




/* placeholder text in input fields - for ALLLLLll the browsers!! */
input::-webkit-input-placeholder {
	font: 18px/25px 'playtime_with_hot_toddiesRg', sans-serif;
}
input::-moz-placeholder {
	font: 18px/25px 'playtime_with_hot_toddiesRg', sans-serif;
}
input:-moz-placeholder {   /* Older versions of Firefox */
	font: 18px/25px 'playtime_with_hot_toddiesRg', sans-serif;
}
input:-ms-input-placeholder { 
	font: 18px/25px 'playtime_with_hot_toddiesRg', sans-serif;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
    	padding: 6px 0 0;
/*        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa; */
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 550px; /* 1026 = 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}